.comFlexCenter{
    display:flex;
    justify-content: center;
    align-items: center;
}
.comFlexBetween{
    display: flex;
    justify-content: space-between;
}
.comUlHorizontal{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}