.notesPanel {
    height: 100%;
    opacity: 0.96;
}

.menuSider {
    overflow: auto;

}

.notesHeader {
    width: 100%;
    border-bottom: 4px solid #f56a6a;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.ntoesContent{
    padding-left: 50px;
    padding-right: 50px;
    overflow: auto;
}

.ntoesContent img{
    width: 100%;
}

.notesFooter {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.notesFooter>li>span{
    display: block;
}
@media screen and (max-width:640px) {
    .notesFooter{
        display: block;
    }
    .notesFooter>li{
        margin: 10px;
    }
}