.notesPanel {
    height: 100%;
    opacity: 0.9;
}

.menuSider {
    overflow: auto;

}

.notesHeader {
    width: 100%;
    border-bottom: 4px solid #f56a6a;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.notesFooter {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.notesFooter>li>span{
    display: block;
}
@media screen and (max-width:640px) {
    .notesFooter{
        display: block;
    }
    .notesFooter>li{
        margin: 10px;
    }
}